/DomainObjects/bus.php~
/gource.mp4
/GTFS-Realtime/realtimeData.json
/ScrapingServer/index.php~
/ScrapingServer/index.php.BACKUP.20462.php
/ScrapingServer/index.php.BACKUP.20935.php
/ScrapingServer/index.php.BASE.20462.php
/ScrapingServer/index.php.BASE.20935.php
/ScrapingServer/index.php.LOCAL.20462.php
/ScrapingServer/index.php.LOCAL.20935.php
/ScrapingServer/index.php.REMOTE.20462.php
/ScrapingServer/index.php.REMOTE.20935.php
/ScrapingServer/kcMetroDestination.php~
/ScrapingServer/kcMetroRealtimeDestination.php~
/ScrapingServer/kcMetroRealtimeScraper.php~
/ScrapingServer/kcMetroScraper.php~
/ScrapingServer/realtimeData.json
/ScrapingServer/scraperRunner.php~
